<div id='skrollr-body'>

	<div id='happy' class='centered' data-0="width:100%;" data-1000="width:0%;"></div>
	<div id='sad' class='centered'><h1><%= link_to 'LINK', 'https://www.google.com' %></h1></div>

</div>